In [1]:
import pandas as pd

## Create Dictionaries for Looking up State / County to FIPS Conversions

In [2]:
# Note: converters={'FIPS': str} to prevent leading zeros from being removed.
df_fips = pd.read_csv('data/state_and_county_fips_arwen.csv', converters={'fips': str})
df_fips['fips'] = df_fips['fips'].apply(lambda fips: fips.zfill(5))
df_fips.head()

    fips          county state
0  01001  Autauga County    AL
1  01003  Baldwin County    AL
2  01005  Barbour County    AL
3  01007     Bibb County    AL
4  01009   Blount County    AL

In [3]:
state_fips_codes = {}
def create_state_fips_dict(state):
    state_fips_row = df_fips.loc[df_fips['state'] == state].iloc[0]
    state_fips = state_fips_row['fips'][:2]
    state_fips_codes[state] = state_fips

county_fips_codes = {}
def create_county_fips_dict(county):
    county_fips_row = df_fips.loc[df_fips['county'] == county].iloc[0]
    county_fips = county_fips_row['fips'] # Note: For county, using full FIPs b/c different counties might have same 3-digit code.
    county_fips_codes[county] = county_fips

In [4]:
df_fips['state'].apply(create_state_fips_dict)
df_fips['county'].apply(create_county_fips_dict);

## Methods for Looking up FIPS by State / County Name

In [5]:
def get_state_fips_code(state):
    # Note: May be `null` if fips code not included in `state_and_county_fips.csv`.
    if state in state_fips_codes:
        return state_fips_codes[state]
    else:
        return 'null'

def get_fips_by_county(county):
    # Note: May be `null` if fips code not included in `state_and_county_fips.csv`.
    if county in county_fips_codes:
        return county_fips_codes[county]
    else:
        return 'null'

## Usage Example

In [6]:
df_data = pd.read_csv('data/county_state_to_fips_example.csv')
df_data.head()

                       COUNTY STATE
0  Valdez-Cordova Census Area    AK
1    Wade Hampton Census Area    AK
2   Wrangell City and Borough    AK
3    Yakutat City and Borough    AK
4   Yukon-Koyukuk Census Area    AK

In [7]:
df_data['STATE_FIPS'] = df_data['STATE'].apply(get_state_fips_code)
df_data['FIPS'] = df_data['COUNTY'].apply(get_fips_by_county)
df_data.head()

                       COUNTY STATE STATE_FIPS   FIPS
0  Valdez-Cordova Census Area    AK         02  02261
1    Wade Hampton Census Area    AK         02  02270
2   Wrangell City and Borough    AK         02  02275
3    Yakutat City and Borough    AK         02  02282
4   Yukon-Koyukuk Census Area    AK         02  02290