In [1]:
#most of this will be a copy of code that ben made in order to make a version of citymaster 
#where the states are still there so i have to go back to 1.4 and apply the stuff we want
# from 1.5 while adding in stuff we want for 1.6

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.preprocessing import MinMaxScaler

In [136]:
df = pd.read_csv('CityMaster1.4.csv', converters={"FIPS":int, "FIPS_2digit":str})

In [137]:
names = pd.read_csv("cities_sorted.csv", converters={"county_fips":int})

In [49]:
names.groupby("county_fips")["population"].max()

county_fips
1001     38124
1003     27861
1005     12746
1007      2994
1009      6925
         ...
72145    23418
72147     1892
72149     2751
72151     6082
72153    15165
Name: population, Length: 3213, dtype: int64

In [138]:
def get_max_score(group):
    return group.loc[group['population'].idxmax()]

max_scores = names.groupby("county_fips").apply(get_max_score)

In [56]:
max_scores[max_scores["city"]!=max_scores["city_ascii"]]

,Unnamed: 0,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
county_fips,,,,,,,,,,,,,,,,,,
8043,2615,Cañon City,Canon City,CO,Colorado,8043,Fremont,38.4430,-105.2203,17059,530.6,shape,False,True,America/Denver,3,81212 81215,1840018855
35039,3918,Española,Espanola,NM,New Mexico,35039,Rio Arriba,36.0044,-106.0686,10473,491.8,shape,False,True,America/Denver,3,87532 87533,1840020348
72011,6958,Añasco,Anasco,PR,Puerto Rico,72011,Añasco,18.2861,-67.1409,4562,2166.7,shape,False,False,America/Puerto_Rico,2,00610,1630023590
72017,7361,Imbéry,Imbery,PR,Puerto Rico,72017,Barceloneta,18.4371,-66.5566,4174,2490.8,shape,False,False,America/Puerto_Rico,2,00617,1630035464
72021,265,Bayamón,Bayamon,PR,Puerto Rico,72021,Bayamón,18.3794,-66.1635,168698,2404.7,shape,False,False,America/Puerto_Rico,2,00959 00957 00956 00934 00960 00961 00916,1630035622
72029,3404,Canóvanas,Canovanas,PR,Puerto Rico,72029,Canóvanas,18.3693,-65.9009,12468,1708.0,shape,False,False,America/Puerto_Rico,3,00729,1630023717
72033,1979,Cataño,Catano,PR,Puerto Rico,72033,Cataño,18.4375,-66.1440,23060,1842.5,shape,False,False,America/Puerto_Rico,3,00949 00962 00963,1630023554
72045,7915,Comerío,Comerio,PR,Puerto Rico,72045,Comerío,18.2200,-66.2246,3656,3136.2,shape,False,False,America/Puerto_Rico,2,00782,1630023541
72055,6164,Guánica,Guanica,PR,Puerto Rico,72055,Guánica,17.9698,-66.9309,5516,845.0,shape,False,False,America/Puerto_Rico,3,00653 00647,1630023537
72075,745,Juana Díaz,Juana Diaz,PR,Puerto Rico,72075,Juana Díaz,18.0532,-66.5044,66208,2090.8,shape,False,False,America/Puerto_Rico,2,00795,1630023583
72087,9432,Loíza,Loiza,PR,Puerto Rico,72087,Loíza,18.4309,-65.8801,2714,2029.7,shape,False,False,America/Puerto_Rico,2,00772,1630035508
72091,3706,Manatí,Manati,PR,Puerto Rico,72091,Manatí,18.4283,-66.4823,11134,2067.2,shape,False,False,America/Puerto_Rico,2,00674,1630023562
72097,498,Mayagüez,Mayaguez,PR,Puerto Rico,72097,Mayagüez,18.2003,-67.1397,93079,1105.2,shape,False,False,America/Puerto_Rico,3,00682 00680 00681,1630035520
72111,6332,Peñuelas,Penuelas,PR,Puerto Rico,72111,Peñuelas,18.0595,-66.7206,5297,2121.4,shape,False,False,America/Puerto_Rico,2,00624,1630023556
72117,12782,Rincón,Rincon,PR,Puerto Rico,72117,Rincón,18.3389,-67.2515,1488,1357.4,shape,False,False,America/Puerto_Rico,3,00677,1630035560
72119,3437,Río Grande,Rio Grande,PR,Puerto Rico,72119,Río Grande,18.3789,-65.8388,12311,3438.0,shape,False,False,America/Puerto_Rico,2,00745,1630023701
72125,495,San Germán,San German,PR,Puerto Rico,72125,San Germán,18.0827,-67.0460,93549,1384.7,shape,False,False,America/Puerto_Rico,3,00683,1630023526
72131,4401,San Sebastián,San Sebastian,PR,Puerto Rico,72131,San Sebastián,18.3356,-66.9948,9041,1706.5,shape,False,False,America/Puerto_Rico,3,00685,1630023635
72135,4070,Pájaros,Pajaros,PR,Puerto Rico,72135,Toa Alta,18.3610,-66.2184,10043,2528.6,shape,False,False,America/Puerto_Rico,2,00953,1630035532

In [139]:
max_scores = max_scores[["city_ascii", "county_fips"]]

In [140]:
max_scores =max_scores.rename(columns={"county_fips":"FIPS"})

In [132]:
max_scores["city_ascii"].isna().sum()

0

In [133]:
max_scores.shape

(3213, 2)

In [135]:
df.shape

(3896, 85)

In [141]:
df = df.merge(max_scores, how="outer", on="FIPS")

In [4]:


for columns in df:
      print(columns)

Unnamed: 0
Population_estimate
FIPS
Acreage
City_Pop
HHINCOME_mean
HHINCOME_median
VALUEH_mean
VALUEH_median
AGE_mean
AGE_median
Female_Rate
Employment_Rate
Unemployment_Rate
NotLaborForce_Rate
IND_Arts_Ent_Rec_Food
IND_Constr
IND_Fin_Ins_RealEstate
IND_Info
IND_Manu
IND_Mil
IND_OtherServices
IND_PublicAdmin
IND_Retail
IND_Transpo_Ware_Util
IND_Wholesale
Adherents as % of Population
Congregations Per 100,000 Pop. Rank
population
households
alltransit_performance_score
Legal Status
Medicinal
Decriminalized
Male_Rate
Cropland_Rate
Pasture_Rate
Forest_Rate
Density_Score
Density_Index
Population_Density
incident_counts
time_zone
Arts_Ent_Rec_Est
Food_Est
Annual_Precip
Annual_Snowfall
Winter_Temp
Summer_Temp
PresW_2012
PresW_2016
PresW_2020
Unnamed: 0.1
HS_Grad_num
HS_GRAD_RATE
MSA
violent_crime
murder_non-neg_manslaughter
rape
robbery
aggravated_assault
property_crime
burglary
larceny_theft
motor_vehicle_theft
YEAR_Crime
Num_Hospitals
Hospital overall rating
Unnamed: 0_y
STATE_y
COUNTY_y
Num_Returns
adj_gross_income
total_income
st_local_income_tax
st_local_gen_sales_tax
realestate_tax
personal_prop_tax
total_taxes_paid
total_tax_payments_amt
FIPS_2digit
City_Dummy
new_city_pop
city
county_name

In [8]:
df["FIPS"]

0       01000
1       01001
2       01003
3       01005
4       01007
        ...
3891    02290
3892    02063
3893    02066
3894    02282
3895    09150
Name: FIPS, Length: 3896, dtype: object

In [47]:
na = df[df["county_name"].isna()]
na[100:150]

,Unnamed: 0,Population_estimate,FIPS,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,VALUEH_median,AGE_mean,...,st_local_gen_sales_tax,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,FIPS_2digit,City_Dummy,new_city_pop,city,county_name
463,463,NaN,12620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12,0,NaN,NaN,NaN
464,464,NaN,12940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12,0,NaN,NaN,NaN
465,465,NaN,12980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12,0,NaN,NaN,NaN
466,466,NaN,13000,NaN,2026.0,835481.3710,76000.0,3164618.607,320000.0,43.220661,...,92310.0,2258206.0,141842.0,4059248.0,67652899.0,13,1,NaN,NaN,NaN
516,516,NaN,13101,268861.16,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,65.0,0.0,257.0,11289.0,13,0,NaN,NaN,NaN
536,536,NaN,13140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13,0,NaN,NaN,NaN
585,585,NaN,13239,96764.30,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,72.0,9.0,192.0,5519.0,13,0,NaN,NaN,NaN
619,619,NaN,13307,133618.39,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,44.0,0.0,217.0,6294.0,13,0,NaN,NaN,NaN
627,627,NaN,13740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13,0,NaN,NaN,NaN
628,628,NaN,13780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13,0,NaN,NaN,NaN
629,629,NaN,14010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
630,630,NaN,14260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
631,631,NaN,14460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
632,632,NaN,14500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
633,633,NaN,14540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
634,634,NaN,14860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
635,635,NaN,14860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
636,636,NaN,15000,NaN,0.0,405291.6672,117600.0,3641842.274,1000000.0,44.947479,...,13063.0,241607.0,12807.0,621800.0,8534250.0,15,0,NaN,NaN,NaN
639,639,NaN,15005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,0,NaN,NaN,NaN
642,642,NaN,15180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,0,NaN,NaN,NaN
643,643,NaN,15500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,0,NaN,NaN,NaN
644,644,NaN,15540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,0,NaN,NaN,NaN
645,645,NaN,15540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,0,NaN,NaN,NaN
646,646,NaN,15680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,0,NaN,NaN,NaN
647,647,NaN,15940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,0,NaN,NaN,NaN
648,648,NaN,15980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15,0,NaN,NaN,NaN
649,649,NaN,16000,NaN,0.0,673260.4064,85200.0,2974597.850,526000.0,40.701868,...,18094.0,266493.0,7780.0,533482.0,10826809.0,16,0,NaN,NaN,NaN
694,694,NaN,16300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16,0,NaN,NaN,NaN
695,695,NaN,16580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16,0,NaN,NaN,NaN
696,696,NaN,16700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16,0,NaN,NaN,NaN
697,697,NaN,16820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16,0,NaN,NaN,NaN
698,698,NaN,16860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16,0,NaN,NaN,NaN
699,699,NaN,17000,NaN,0.0,557371.1793,79000.0,2385224.244,200000.0,43.647944,...,139649.0,4597023.0,70906.0,4533390.0,106535622.0,17,0,NaN,NaN,NaN
710,710,NaN,17020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
771,771,NaN,17140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
804,804,NaN,17300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
805,805,NaN,17420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
806,806,NaN,17460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
807,807,NaN,17660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
808,808,NaN,17780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
809,809,NaN,17820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
810,810,NaN,17860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
811,811,NaN,17900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17,0,NaN,NaN,NaN
812,812,NaN,18000,NaN,0.0,458729.3718,80000.0,2203774.504,230000.0,42.276790,...,14892.0,591236.0,46641.0,1233454.0,37238699.0,18,0,NaN,NaN,NaN
883,883,NaN,18140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18,0,NaN,NaN,NaN
906,906,NaN,18580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18,0,NaN,NaN,NaN
907,907,NaN,19000,NaN,0.0,707950.0255,83500.0,2340498.090,200000.0,43.580535,...,17925.0,453358.0,37736.0,690618.0,17035398.0,19,0,NaN,NaN,NaN
1007,1007,NaN,19340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19,0,NaN,NaN,NaN
1008,1008,NaN,19500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19,0,NaN,NaN,NaN
1009,1009,NaN,19660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19,0,NaN,NaN,NaN

In [83]:
df

,Unnamed: 0,Population_estimate,FIPS,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,VALUEH_median,AGE_mean,...,realestate_tax,personal_prop_tax,total_taxes_paid,total_tax_payments_amt,FIPS_2digit,City_Dummy,new_city_pop,city,county_name,city_ascii
0,0,NaN,1000,NaN,1970.0,668874.8511,74805.0,2807735.970,270000.0,43.800921,...,334941.0,46903.0,974173.0,24008761.0,1,1,NaN,NaN,NaN,NaN
1,1,NaN,1001,380219.20,NaN,NaN,NaN,NaN,NaN,NaN,...,1804.0,303.0,8741.0,228794.0,1,0,38124.0,Prattville,Autauga,Prattville
2,2,246435.0,1003,1016235.68,0.0,693232.7108,90000.0,2359146.832,345000.0,46.806620,...,19336.0,2038.0,58098.0,1359923.0,1,0,27861.0,Summerdale,Baldwin,Daphne
3,3,NaN,1005,564523.75,NaN,NaN,NaN,NaN,NaN,NaN,...,518.0,87.0,1903.0,66115.0,1,0,12746.0,Louisville,Barbour,Eufaula
4,4,NaN,1007,397309.32,NaN,NaN,NaN,NaN,NaN,NaN,...,257.0,170.0,1770.0,87801.0,1,0,2994.0,Woodstock,Bibb,Brent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3891,3891,NaN,2290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,14190.0,2,0,627.0,Wiseman,Yukon-Koyukuk,Galena
3892,3892,NaN,2063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,412.0,0.0,459.0,36834.0,2,0,3935.0,Whittier,Chugach,Valdez
3893,3893,NaN,2066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,62.0,11885.0,2,0,522.0,Willow Creek,Copper River,Glennallen
3894,3894,NaN,2282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1979.0,2,0,564.0,Yakutat,Yakutat,Yakutat
3895,3895,NaN,9150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18035.0,1484.0,28376.0,517440.0,9,0,4162.0,Witches Woods,Northeastern Connecticut,Danielson

In [142]:


df = df.drop(columns={'Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0_y', 'STATE_y'})
df_app = df.copy()

# List of columns to convert to dummies
columns_to_dummy = ['Legal Status', 'Medicinal', 'Decriminalized', 'time_zone', 'PresW_2012', 'PresW_2016', 'PresW_2020']

# Create dummy variables for the specified columns and drop the original columns
df = pd.get_dummies(df, columns=columns_to_dummy, drop_first=True)

df = df.drop(columns={'IND_Mil'}) # drop first equ

df = df.drop(columns={'MSA', 'county_name'})
# attempt to convert to numeric for the following columns, drop values that are not numeric:
# 'violent_crime', 'property_crime', 'burglary', 'larceny_theft'

In [143]:


# Assuming df is your DataFrame and columns_to_convert is your list of columns
columns_to_convert = ['violent_crime', 'property_crime', 'burglary', 'larceny_theft']

for column in columns_to_convert:
    # Convert column to numeric, coercing errors to NaN
    df[column] = pd.to_numeric(df[column], errors='coerce')

In [144]:
# for every column in df, replace False with 0 and True with 1
for column in df.columns:
    # Check if the column's data type is boolean
    if df[column].dtype == bool:
        # Replace True with 1 and False with 0
        df[column] = df[column].astype(int)

df.head()

,Population_estimate,FIPS,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,VALUEH_median,AGE_mean,AGE_median,...,time_zone_M,time_zone_MC,time_zone_MP,time_zone_P,time_zone_S,time_zone_V,time_zone_e,PresW_2012_REPUBLICAN,PresW_2016_REPUBLICAN,PresW_2020_REPUBLICAN
0,NaN,1000,NaN,1970.0,668874.8511,74805.0,2807735.970,270000.0,43.800921,45.0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,1001,380219.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,1,1
2,246435.0,1003,1016235.68,0.0,693232.7108,90000.0,2359146.832,345000.0,46.806620,51.0,...,0,0,0,0,0,0,0,1,1,1
3,NaN,1005,564523.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,1
4,NaN,1007,397309.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,1,1

In [12]:
# df.to_csv('df_for_PCA.csv')

In [145]:

# List of columns to convert to dummies
columns_to_dummy = ['Legal Status', 'Medicinal', 'Decriminalized', 'time_zone', 'PresW_2012', 'PresW_2016', 'PresW_2020']

# Create dummy variables for the specified columns and drop the original columns
df_app = pd.get_dummies(df_app, columns=columns_to_dummy, drop_first=False)

# no IND drop
columns_to_convert = ['violent_crime', 'property_crime', 'burglary', 'larceny_theft']


for column in columns_to_convert:

    # Convert column to numeric, coercing errors to NaN

    df_app[column] = pd.to_numeric(df_app[column], errors='coerce')

# for every column in df, replace False with 0 and True with 1

for column in df_app.columns:

    # Check if the column's data type is boolean

    if df_app[column].dtype == bool:

        # Replace True with 1 and False with 0

        df_app[column] = df_app[column].astype(int)

df_app.head()

,Population_estimate,FIPS,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,VALUEH_median,AGE_mean,AGE_median,...,time_zone_P,time_zone_S,time_zone_V,time_zone_e,PresW_2012_DEMOCRAT,PresW_2012_REPUBLICAN,PresW_2016_DEMOCRAT,PresW_2016_REPUBLICAN,PresW_2020_DEMOCRAT,PresW_2020_REPUBLICAN
0,NaN,1000,NaN,1970.0,668874.8511,74805.0,2807735.970,270000.0,43.800921,45.0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,1001,380219.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,1,0,1
2,246435.0,1003,1016235.68,0.0,693232.7108,90000.0,2359146.832,345000.0,46.806620,51.0,...,0,0,0,0,0,1,0,1,0,1
3,NaN,1005,564523.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,1,0,1
4,NaN,1007,397309.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,1,0,1

In [146]:

df_app['Density'] = df_app['households'] / df_app['Acreage']
# Summing Republican wins
df_app['Rep_W'] = df_app['PresW_2012_REPUBLICAN'] + df_app['PresW_2016_REPUBLICAN'] + df_app['PresW_2020_REPUBLICAN']

# Summing Democratic wins
df_app['Dem_W'] = (1 - df_app['PresW_2012_REPUBLICAN']) + (1 - df_app['PresW_2016_REPUBLICAN']) + (1 - df_app['PresW_2020_REPUBLICAN'])

df_app['Average Tax Burden'] = df_app['total_tax_payments_amt']/df_app['new_city_pop']
# df_app['Average Tax Burden'].describe() # makes no sense but it'll be normalized (shrug emoji)

df_app['theft'] = df_app[['robbery', 'property_crime', 'burglary', 'larceny_theft', 'motor_vehicle_theft']].sum(axis=1)

columns = [
    "time_zone_C", "time_zone_CE", "time_zone_CM", "time_zone_E", "time_zone_F",
    "time_zone_G", "time_zone_H", "time_zone_J", "time_zone_K", "time_zone_M",
    "time_zone_MC", "time_zone_MP", "time_zone_P", "time_zone_S", "time_zone_V",
    "time_zone_e"
]
import pandas as pd

# Columns to keep without changes or specific checks
keep_columns = [
    "time_zone_E", "time_zone_C", "time_zone_M", "time_zone_P"
]

# Initialize a new column for 'other' time zones to accumulate counts of 1s
df_app['time_zone_other'] = 0

# Iterate through columns and process
for column in columns:
    if column not in keep_columns:
        # Accumulate counts of ones in 'time_zone_other'
        df_app['time_zone_other'] += df_app[column].apply(lambda x: 1 if x == 1 else 0)

# Optionally, drop the other time zone columns if they are no longer needed
df_app.drop(columns=[col for col in columns if col not in keep_columns], inplace=True)

In [147]:
df_norm = [
    "HHINCOME_mean", "HHINCOME_median",
    "IND_Arts_Ent_Rec_Food", "IND_Constr", "IND_Fin_Ins_RealEstate", "IND_Info",
    "IND_Manu", "IND_OtherServices", "IND_PublicAdmin", "IND_Retail",
    "IND_Transpo_Ware_Util", "IND_Wholesale", "Adherents as % of Population",
    "Congregations Per 100,000 Pop. Rank", "Housing Density", "alltransit_performance_score",
    "Cropland_Rate", "Pasture_Rate", "Forest_Rate", "Arts_Ent_Rec_Est",
    "Food_Est", "HS_GRAD_RATE", "Num_Hospitals",
    "Hospital overall rating", "Average Tax Burden", "new_city_pop", "Legal Status_Fully Legal",
    "Decriminalized_Yes", "time_zone_E", "time_zone_M", "time_zone_P", "time_zone_C",
    "time_zone_other", "Dem_W", "Rep_W", "Acreage"
]
# vars to keep true values (for sliders) AND make df_app['type'] = gold
df_gold = [
    "VALUEH_median", "AGE_mean", "Annual_Precip",
    "Annual_Snowfall", "Winter_Temp", "Summer_Temp"
]
# vars to invert the normalization AND change df_app['type'] = inv_norm
df_inv = [
    "Unemployment_Rate", "incident_counts", "violent_crime", "theft", "Average Tax Burden"
]


# to drop
df_obsolete = [
    "Population_estimate", "City_Pop", "Female_Rate", "NotLaborForce_Rate",
    "population", "households", "Density_Score", "Density_Index",
    "Population_Density", "HS_Grad_num", "murder_non-neg_manslaughter", "rape",
    "robbery", "aggravated_assault", "property_crime", "burglary",
    "larceny_theft", "motor_vehicle_theft", "YEAR_Crime", "Num_Returns",
    "adj_gross_income", "total_income", "st_local_income_tax", "st_local_gen_sales_tax",
    "realestate_tax", "personal_prop_tax", "total_taxes_paid", "total_tax_payments_amt",
    "City_Dummy", "Legal Status_Mixed", "Medicinal_CBD Oil Only*",
    "Medicinal_No", "Medicinal_Yes", "PresW_2012_REPUBLICAN", "PresW_2016_REPUBLICAN",
    "PresW_2020_REPUBLICAN", "MSA", "Density", "Medicinal_CBD Oil Only", "Male_Rate",
    "Legal Status_Fully Illegal", "Decriminalized_No", "IND_Mil", "PresW_2012_DEMOCRAT",
    "PresW_2016_DEMOCRAT", "PresW_2020_DEMOCRAT", "Employment_Rate"

]

In [148]:
# for columns in df_norm, normalize them
# Initialize the scaler
scaler = MinMaxScaler()

# Normalize columns listed in df_norm
for col in df_norm:
    if col in df_app.columns:
        df_app[col] = scaler.fit_transform(df_app[col].values.reshape(-1, 1))

# for columns in df_gold, do nothing

# for columns in df_inv, normalize then invert
# Normalize and then invert columns listed in df_inv
for col in df_inv:
    if col in df_app.columns:
        # Normalize
        normalized_data = scaler.fit_transform(df_app[col].values.reshape(-1, 1))
        # Invert
        df_app[col] = 1 - normalized_data


# for columns in df_obsolete, drop them
# Dropping obsolete columns safely
df_app.drop(columns=[col for col in df_obsolete if col in df_app.columns], inplace=True)

/Users/arwenroach/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_data.py:461: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/Users/arwenroach/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_data.py:462: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

In [156]:
df2 = df[~df["city_ascii"].isna()]

In [157]:
df2.shape

(3213, 96)

In [158]:
df2

,Population_estimate,FIPS,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,VALUEH_median,AGE_mean,AGE_median,...,time_zone_M,time_zone_MC,time_zone_MP,time_zone_P,time_zone_S,time_zone_V,time_zone_e,PresW_2012_REPUBLICAN,PresW_2016_REPUBLICAN,PresW_2020_REPUBLICAN
1,NaN,1001,380219.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,1,1
2,246435.0,1003,1016235.68,0.0,693232.7108,90000.0,2359146.832,345000.0,46.80662,51.0,...,0,0,0,0,0,0,0,1,1,1
3,NaN,1005,564523.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,1
4,NaN,1007,397309.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,1,1
5,NaN,1009,411009.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3891,NaN,2290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3892,NaN,2063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3893,NaN,2066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3894,NaN,2282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3895,NaN,9150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [159]:
df2.to_csv("CityMaster1.6.csv")

In [ ]:
df[""]

In [128]:
df["city_ascii"].isna().sum()

683

In [130]:
df[df["city_ascii"].isna()][550:]

,Population_estimate,FIPS,Acreage,City_Pop,HHINCOME_mean,HHINCOME_median,VALUEH_mean,VALUEH_median,AGE_mean,AGE_median,...,time_zone_M,time_zone_MC,time_zone_MP,time_zone_P,time_zone_S,time_zone_V,time_zone_e,PresW_2012_REPUBLICAN,PresW_2016_REPUBLICAN,PresW_2020_REPUBLICAN
3660,NaN,68430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3661,NaN,69010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3662,NaN,69085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3663,NaN,69100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3664,NaN,69110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3867,NaN,2038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3868,NaN,2039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3869,NaN,2040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3870,NaN,2099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3889,NaN,2261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [184]:
df3 = pd.read_csv("CityMaster1.6.csv", converters={"FIPS_2digit":str})

In [185]:
df3["FIPS_2digit"]

0       1
1       1
2       1
3       1
4       1
       ..
3208    2
3209    2
3210    2
3211    2
3212    9
Name: FIPS_2digit, Length: 3213, dtype: object

In [186]:
def add_char(string, char, position): 
    # Convert the string to a list of characters 
    string_list = list(string) 
     
    # Insert the character at the specified position 
    string_list.insert(position, str(char)) 
    
    # Join the list back into a string 
    new_string = "".join(string_list)
     
    return new_string

In [187]:
for i in range(len(df3.FIPS_2digit)): 
    if len(df3.FIPS_2digit[i]) != 2:
        
        df3.FIPS_2digit[i] = add_char(df3.FIPS_2digit[i],0,0)
        
    else: 
        df3.FIPS_2digit[i] = df3.FIPS_2digit[i]

/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_68064/2892479223.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.FIPS_2digit[i] = add_char(df3.FIPS_2digit[i],0,0)
/var/folders/ql/3twgx7yj36ddmzjqgbpdmthh0000gn/T/ipykernel_68064/2892479223.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.FIPS_2digit[i] = df3.FIPS_2digit[i]

In [188]:
state_fips_dict = {
    '01': 'Alabama', '02': 'Alaska', '04': 'Arizona', '05': 'Arkansas',
    '06': 'California', '08': 'Colorado', '09': 'Connecticut', '10': 'Delaware',
    '11': 'District of Columbia', '12': 'Florida', '13': 'Georgia', '15': 'Hawaii',
    '16': 'Idaho', '17': 'Illinois', '18': 'Indiana', '19': 'Iowa',
    '20': 'Kansas', '21': 'Kentucky', '22': 'Louisiana', '23': 'Maine',
    '24': 'Maryland', '25': 'Massachusetts', '26': 'Michigan', '27': 'Minnesota',
    '28': 'Mississippi', '29': 'Missouri', '30': 'Montana', '31': 'Nebraska',
    '32': 'Nevada', '33': 'New Hampshire', '34': 'New Jersey', '35': 'New Mexico',
    '36': 'New York', '37': 'North Carolina', '38': 'North Dakota', '39': 'Ohio',
    '40': 'Oklahoma', '41': 'Oregon', '42': 'Pennsylvania', '44': 'Rhode Island',
    '45': 'South Carolina', '46': 'South Dakota', '47': 'Tennessee', '48': 'Texas',
    '49': 'Utah', '50': 'Vermont', '51': 'Virginia', '53': 'Washington',
    '54': 'West Virginia', '55': 'Wisconsin', '56': 'Wyoming'
}  #8

In [179]:
df3.FIPS_2digit.head()

0    01
1    01
2    01
3    01
4    01
Name: FIPS_2digit, dtype: object

In [189]:
df3["State"] = df3["FIPS_2digit"].map(state_fips_dict)
df3["State"].head()

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
Name: State, dtype: object

In [181]:
df3["FIPS_2digit"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
3208    NaN
3209    NaN
3210    NaN
3211    NaN
3212    NaN
Name: FIPS_2digit, Length: 3213, dtype: object

In [191]:
df3.to_csv("CityMaster1.7.csv")